<div><%= @corporations[1]['company_name'] %></div>
<div><%= @corporations[1]['company_name_kana'] %></div>
<div><%= @bs[1]['asset'] %></div>
<div><%= @pls[1]['net_sale'] %></div>
<div><%= @cfs[1]['net_cash_provided_by_used_in_operating_activity'] %></div>





