<div class="wrapper">
  <div class="side-bar">
    <div class="explore">
      <%= search_form_for @q, url: '/' , html: {id: "detailed-search-form" } do |f| %>
        <%= f.search_field :security_name_cont_any, class: "search-field" , placeholder: '会社名' %>
        <%= f.search_field :security_code_eq, class: "search-field" , placeholder: '証券コード' %>
        <%= f.search_field :sector_thirty_three_name_cont, class: "search-field" , placeholder: '業種' %>
        <%= f.submit '検索' , class: "search-button" %>
      <% end %>
    </div>
    <div class="sector_thirty_three_list">
      <ul>
        <li>水産・農林業</li>
        <li>ガラス・土石</li>
        <li>鉱業</li>
        <li>建設業</li>
        <li>食料品</li>
        <li>パルプ・紙</li>
        <li>化学</li>
        <li>医薬品</li>
        <li>石油・石炭</li>
        <li>ゴム製品</li>
        <li>鉄鋼</li>
        <li>非鉄金属</li>
        <li>金属製品</li>
        <li>機械</li>
        <li>電気機器</li>
        <li>輸送用機器</li>
        <li>精密機器</li>
        <li>その他製品</li>
        <li>電気・ガス</li>
        <li>陸運業</li>
        <li>海運業</li>
        <li>空運業</li>
        <li>倉庫・運輸</li>
        <li>情報・通信業</li>
        <li>卸売業</li>
        <li>小売業</li>
        <li>銀行業</li>
        <li>証券・商品</li>
        <li>保険業</li>
        <li>不動産業</li>
        <li>サービス業</li>
        <li>繊維製品</li>
        <li>その他金融業</li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div class="main-upper">
      <div class="main-upper-left">
        <%= @year %>年  <%= @model.human_attribute_name(@colum) %>  <%= @sector %>  上位<%= @count %>社
      </div>
      <div class="main-upper-right">
        <button class="search-option">検索条件</button>
        <div class="select-main">
          <div class="select-main-left">
            <div class="select-year">
              <%= @year %>年
            </div>
            <div class="market">
              <div class="prime">プライム</div>
              <div class="standard">スタンダード</div>
              <div class="growth">グロース</div>
            </div>
            <div class="type">業種選択</div>
          </div>
          <div class="select-main-center">
            <div class="bs">
              <%= link_to '#' , class: "bs-left" do %>
                <div class="assets">総資産</div>
                <% end %>
                  <div class="bs-right">
                    <div class="liabilities">負債</div>
                    <div class="equity">純資産</div>
                  </div>
            </div>
            <div class="cf">
              <div class="operating">営業キャッシュフロー</div>
              <div class="investing">投資キャッシュフロー</div>
              <div class="financing">財務キャッシュフロー</div>
              <div class="free">フリーキャッシュフロー</div>
            </div>
          </div>
          <div class="select-main-right">
            <div class="pl">
              <%= link_to '#' , class: "uriagedaka" do %>
                <div class="uriagedaka-top"></div>
                <div class="uriagedaka-bottom">売上高</div>
                <% end %>
                  <div class="sourieki">
                    <div class="sourieki-top"></div>
                    <div class="sourieki-bottom">売上総利益</div>
                  </div>
                  <div class="eigyo">
                    <div class="eigyo-top"></div>
                    <div class="eigyo-bottom">営業利益</div>
                  </div>
                  <div class="keijo">
                    <div class="keijo-top"></div>
                    <div class="keijo-bottom">経常利益</div>
                  </div>
                  <div class="zeimae">
                    <div class="zeimae-top"></div>
                    <div class="zeimae-bottom">税引前当期利益</div>
                  </div>
                  <div class="jun">
                    <div class="jun-top"></div>
                    <div class="jun-bottom">純利益</div>
                  </div>
            </div>
            <div class="other">
              <div class="other-left">
                <div class="market-capitalization">時価総額</div>
                <div class="employee">従業員数</div>
              </div>
              <div class="other-right">
                <div class="stock-price">株価</div>
                <div class="other-item">その他</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-middle">
      <div id="corporation_graph"></div>
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script>
        const svg = d3.select("#corporation_graph")
          .append("svg")
          .attr("width", "100%")
          .attr("height", "80vh")

        const width = document.querySelector("svg").clientWidth;
        const height = document.querySelector("svg").clientHeight;

        var data = {
          security_name: "総計",
          children: []
        };

        <% @corporation_results.first(@count).shuffle.each do | corporation | %>
          var corporation_name = { security_name: "<%= corporation.security_name %>" };
          var corporation_value = { value: <%= corporation.net_sale %> };
          var corporation_link = { link: "corporations/<%= corporation.id %>" };
          var corporation_data = Object.assign(corporation_name, corporation_value, corporation_link);
          data.children.push(corporation_data);
        <% end %>

          // 2. 描画用のデータ変換
        root = d3.hierarchy(data);
        root.sum(function (d) { return d.value; });

        const pack = d3.pack()
          .size([width, height])
          .padding(5);

        pack(root);

        const tooltip = d3.select("#corporation_graph")
          .append("div")
          .attr("class", "tooltip")
          .style("background-color", "white")
          .style("font-size", "16px")
          .style("border", "solid")
          .style("border-width", "2px")
          .style("border-radius", "5px")
          .style("padding", "5px")
          .style("position", "absolute")

        const showTooltip = function (d) {
          tooltip
            .transition()
            .duration(200)
          tooltip
            .style("opacity", 1)
            .html("<%= Corporation.human_attribute_name(:security_name)%>：" + d.data.security_name + "<br><%= @model.human_attribute_name(@colum) %>：" + d.value + "百万円")
            .style("left", (d3.event.pageX + 10) + "px")
            .style("top", (d3.event.pageY - 40) + "px")
            .style("pointer-events", "none")
        };

        const moveTooltip = function (d) {
          tooltip
            .style("left", (d3.event.pageX + 10) + "px")
            .style("top", (d3.event.pageY - 40) + "px")
            .style("pointer-events", "none")
        };

        const hideTooltip = function (d) {
          tooltip
            .transition()
            .duration(200)
            .style("opacity", 0)
        };

        // 3. svg要素の配置
        const node = d3.select("svg").selectAll(".node")
          .data(root.descendants())
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + d.x + "," + (d.y) + ")"; });

        const color = ["#555", "Khaki"];

        

        node.append("a")
          .attr('xlink:href', function (d) {
            return d.data.link;
          })
        .append("circle")
          .attr("class", "bubbles")
          .attr("r", function (d) { return d.r; })
          .attr("stroke", "none")
          .attr("fill", function (d) { return color[d.depth]; })
          .on("mouseover", showTooltip)
          .on("mousemove", moveTooltip)
          .on("mouseleave", hideTooltip)

        node.append("text")
          .style("text-anchor", function (d) { return d.children ? "end" : "middle"; })
          .attr("font-size", "100%")
          .text(function (d) { return d.children ? "" : d.data.security_name; })
          .style("pointer-events", "none")
          .style("text-shadow", "1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, 0 -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF")

        node.transition()
          .duration(350)
          .attr("opacity", 1)
      </script>
    </div>
    </div>
</div>