<div class="wrapper">
  <div class="side-bar">
    <div class="explore">
      <%= search_form_for @q, url: '/corporations/show', html: {id: "detailed-search-form"} do |f| %>
        <%= f.search_field :security_name_i_cont_any, class: "search-field", placeholder: '会社名' %>
        <%= f.search_field :security_code_eq, class: "search-field" , placeholder: '証券コード' %>
        <%= f.submit '検索' , class: "search-button" %>
      <% end %>
    </div>
    <%= render(:partial=> "show", :object => @results) %>
  </div>
  <div class="main">
    <div class="main-upper">
      2021年　総資産　比較
    </div>
    <div class="main-middle">
      <div id="corporation_graph"></div>
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script>
        var svg = d3.select("#corporation_graph")
            .append("svg")
            .attr("width", "100%")
            .attr("height", "80vh")

        var width = document.querySelector("svg").clientWidth;
        var height = document.querySelector("svg").clientHeight;

        var data = {
          security_name: "総計",
          children: [
            { security_name: "<%= @corporation_name1 %>", value: <%= @bs_asset1 %> },
            { security_name: "<%= @corporation_name2 %>", value: <%= @bs_asset2 %> },
            { security_name: "<%= @corporation_name3 %>", value: <%= @bs_asset3 %> },
            { security_name: "<%= @corporation_name4 %>", value: <%= @bs_asset4 %> },
          ]
        };

        // 2. 描画用のデータ変換
        root = d3.hierarchy(data);
        root.sum(function (d) { return d.value; });

        var pack = d3.pack()
          .size([width, height])
          .padding(0);
          
        pack(root);

        var tooltip = d3.select("#corporation_graph")
          .append("div")
          .attr("class", "tooltip")
          .style("background-color", "white")
          .style("border", "solid")
          .style("border-width", "2px")
          .style("border-radius", "5px")
          .style("padding", "5px")
          .style("position", "absolute")

        var showTooltip = function (d) {
            tooltip
              .transition()
              .duration(200)
            tooltip
              .style("opacity", 1)
              .html("銘柄：" + d.data.security_name + "<br>総資産：" + d.value + "円")
              .style("left", (d3.event.pageX + 10) + "px")
              .style("top", (d3.event.pageY + 20) + "px")
              .style("pointer-events", "none")
        };
        
        var moveTooltip = function (d) {
            tooltip
              .style("left", (d3.event.pageX + 10) + "px")
              .style("top", (d3.event.pageY + 20) + "px")
              .style("pointer-events", "none")
        };

        var hideTooltip = function (d) {
            tooltip
              .transition()
              .duration(200)
              .style("opacity", 0)
        };
      
        // 3. svg要素の配置
        var node = d3.select("svg").selectAll(".node")
          .data(root.descendants())
          .enter()
          .append("g")
          .attr("transform", function (d) { return "translate(" + d.x + "," + (d.y) + ")"; });

        var color = ["#555", "Khaki"];
        node.append("circle")
          .attr("class", "bubbles")
          .attr("r", function (d) { return d.r; })
          .attr("stroke", "none")
          .attr("fill", function (d) { return color[d.depth]; })
          .on("mouseover", showTooltip)
          .on("mousemove", moveTooltip)
          .on("mouseleave", hideTooltip)

        node.append("text")
          .style("text-anchor", function (d) { return d.children ? "end" : "middle"; } )
          .attr("font-size", "100%")
          .text(function (d) { return d.children ? "" : d.data.security_name;})
          .style("pointer-events", "none")
      </script>
    </div>
  </div>
</div>