<!DOCTYPE html>
<html>
  <head>
    <title>Corp View</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">Corp View</a>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="copyright">Copyright©️2022 Katsuto Akaike</div>
      <div class="IR-bank"><a href="https://irbank.net/download">IR BANK</a>さまより財務諸表のデータを手に入れております</div>
    </footer>
    <script>
      var $target = document.querySelector('.select-main')
      var $button = document.querySelector('.search-option')
      $button.addEventListener('click', function() {
        $target.classList.toggle('is-hidden')
      })
    </script>
  </body>
</html>
