<!DOCTYPE html>
<html>
  <head>
    <title>CorporationView</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="/">Corporation View</a>
      </div>
      <a href="#">
        <div class="header-right">
          検索条件
        </div>
      </a>
    </header>
    <%= yield %>
    <footer>
      <p class="copyright">Copyright©️2022 Katsuto Akaike</p>
    </footer>
  </body>
</html>
